{% extends 'BASE_LOGIN.html' %}

{% block body %}
    <body class="hold-transition layout-top-nav">
    <div class="wrapper">
        <!-- Header -->
        {% include 'HEADER.html' %}

        <!-- Content -->
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container">
                    <div class="row">
                        {% if user.is_authenticated %}
                            <div class="col-sm-6">
                                <h1 class="m-0 text-dark"> Bienvenido <small>{{ user.get_username }}</small></h1>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% block content_after_login %}

            {% endblock %}
        </div>
    </div>

    <!-- Footer -->
    {% include 'FOOTER.html' %}

    </body>
{% endblock %}