{% extends 'BASE.html' %}

{% block content_after_login %}
    <div class="content-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark"> {{ PROJECT }} </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <form action="." method="post">
                <div class="card card-primary">
                    <div class="card-body">
                        {% csrf_token %}
                        {% for field in form.visible_fields %}
                            <div class="form-group">
                                {% if field.errors %}
                                    {{ field.errors }}
                                {% endif %}
                                <label>{{ field.label }}:</label>
                                <div class="form-control">
                                    {{ field }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary btn-flat">
                            <i class="fas fa-save"></i> Guardar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

